.a {
    /* height: 100vh; */
    background-color: white;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .a-title {
    font-weight: bold;
} */

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-size: 20px;
}


@media screen and (max-width:480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
}

.a-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.underline {
    width: 60px;
    height: 5px;
    background-color: black;
    margin-bottom: 20px;
}