.header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .65);
}

.header .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu {
    color: #ffffff;
}


.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
    list-style-type: none;

}

.nav-item .active {
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(233, 236, 239);
}

.header .nav-item .nav-link:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(233, 236, 239);
}

.hamburger {
    display: none;
}

@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        /* background-color: rgba(0, 0, 0, .65); */
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 55px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .65);
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0.5rem 1rem 0.5rem 0;
    }
}